/Cache
/Data
/Errors
/Logs
/Screenshots
/BackgroundDownloader.exe
/dbghelp.dll
/DivxDecoder.dll
/ijl15.dll
/Patch.html
/Patch.txt
/realmlist.wtf
/Repair.exe
/Scan.dll
/unicows.dll
/Wow.exe
/WowError.exe
